<!DOCTYPE HTML>
<html>
    <head>
        <title>blockchain</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;
                    $("a#call_getOwner").click(function(){
                        contractInstance.getOwner(function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#owner").text(result);
                          }
                        });
                    });
                    $("a#call_getNumber").click(function(){
                        contractInstance.getNumber(function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#number").text(result);
                          }
                        });
                    });
                    $("a#call_setNumber").click(function(){
                        var newNumber = $("input#number").val();
                        contractInstance.setNumber(newNumber, {from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                        });
                    });
                }
                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body class="subpage">
      <!-- Header -->
  			<header id="header">
  				<div class="inner">
  					<a href="index.html" class="logo">Lottery</a>
  					<nav id="nav">
  						<a href="index.html">Home</a>
  						<a href="#">Admin</a>
  						<a href="#">Customer</a>
  					</nav>
  					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  				</div>
  			</header>

        <section id="three" class="wrapper">
  				<div class="inner">
  					<header class="align-center">
  						<h2>Example Flask + Web3 + Metamask</h2>
  					</header>
            <div class="flex flex-2">
              <article>
  				            <header>
  								<h3>Number</h3>
  							</header>
  							<p><span id="number">0</span><p>
  							<footer>
  								<a href="#" id="call_getNumber" class="button special">Get number</a>
  							</footer>
                            <p>New value: <input type="text" id="number" value="0" /></p>
                            <footer>
  								<a href="#" id="call_setNumber" class="button special">Set number</a>
  							</footer>
                            <br />
                            <header>
  								<h3>Owner</h3>
  							</header>
  							<p><span id="owner">None</span><p>
  							<footer>
  								<a href="#" id="call_getOwner" class="button special">Get owner</a>
  							</footer>
  						</article>
            </div>
  				</div>
  			</section>


    </body>
</html>
